@import "tailwindcss";

:root {
  --text: #3c3c3c;
  --text-h: #8F3A6D;
  --bg: #F8F5F6;
  --border: #000000;
  --button: #794861;
  --code-bg: #000000;
  --accent: #000000;
  --accent-bg: rgba(170, 59, 255, 0.1);
  --shadow:
    rgba(197, 187, 187, 0.1) 0 10px 15px -3px, rgba(235, 228, 228, 0.05) 0 4px 6px -2px;

  --sans: 'gabarito', system-ui, 'Segoe UI', Roboto, sans-serif;
  --btn-font: 'Rethink Sans', system-ui, 'Segoe UI', Roboto, sans-serif;
  --heading: 'Abril Fatface', system-ui, serif;
  --mono: ui-monospace, Consolas, monospace;

  color-scheme: light;
  color: var(--text);
  background: var(--bg);
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  @media (max-width: 1024px) {
    font-size: 1rem;
  } 
}

#slogan {
  font-family: "Homemade Apple", cursive;
  font-weight: 400;
  font-style: normal;
  font-size: 2rem;
}

@media (max-width: 500px) {
  #slogan {
    font-size: 1.25rem;
  }
}
  /* font: 1.375rem var(--sans);
  letter-spacing: 0.66px;



/* @media (prefers-color-scheme: dark) {
  :root {
    --text: #9ca3af;
    --text-h: #f3f4f6;
    --bg: #F8F5F6;
    --border: #2e303a;
    --code-bg: #d8d9e6;
    --accent: #c084fc;
    --accent-bg: rgba(192, 132, 252, 0.15);
    --accent-border: rgba(192, 132, 252, 0.5);
    --social-bg: rgba(47, 48, 58, 0.5);
    --shadow:
      rgba(0, 0, 0, 0.4) 0 10px 15px -3px, rgba(0, 0, 0, 0.25) 0 4px 6px -2px;
  }
} */

body {
  margin: 0;
}

#root {
  width: 100vw;
  max-width: 100%;
  margin: 0 auto;
  /* text-align: center; */
  min-height: 100svh;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}

/* Abril Fatface 38px Regular*/
h1 {
  font-family: var(--heading);
  font-weight: 400;
  font-style: normal;
  color: var(--text-h);
  font-size: 2.375rem;
  /* margin: 2rem 0; */
  @media (max-width: 1024px) {
    font-size: 1.875rem;
    /* margin: 1.25rem 0; */
  }
}

/* Gabarito 30px Medium */

h2 {
  font-family: var(--sans);
  font-size: 1.875rem;
  font-weight: 600;
  /* color: var(--text); */
  margin: 0 0 0.5rem;
  @media (max-width: 1024px) {
    font-size: 1.375rem;
  }
}

/* Gabarito 22px Medium */
h3 {
  font-family: var(--sans);
  font-size: 1.375rem;
  font-weight: 500;
  color: var(--text);
  margin: 0 0 0.5rem;
  @media (max-width: 1024px) {
    font-size: 1.25rem;
  }
}

p {
  margin: 0;
}


#nav-id li{
  font-family: var(--sans);
  font-size: 1.375rem;
  font-weight: 600;
}



#footer-id h3 {
  font-family: var(--btn-font);
  font-weight: 400;
  font-size: 1.125rem;
  color: var(--bg);
  list-style: none;
  padding: 0;
  margin: 0 0 0.5rem;
  /* border: rosybrown solid 1px; */
}

#footer-id li, #footer-id p {
  font-family: var(--sans);
  font-size: 1rem;
  font-weight: 400;
  color: var(--bg);
  /* border: red solid 1px; */
}

/* a {
  text-decoration: none;
} */

#cta{
  font-family: var(--btn-font);
  font-size: 1rem;
  font-weight: 700;
  background-color: var(--button);
  padding: 0.5rem 1rem;
  color: #ffffff;
  border-radius: 1rem;
   @media (max-width: 1024px) {
    font-size: 0.8rem;
  }
}

#card-title{
  font-size: 2.5rem;
  font-weight: 500;
  margin: 0;
}

#ig-handle{
  color: #fff;
}
